/*---------------Content Area-----------------*/
#content{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-direction: column;
	overflow: auto;
	margin: 170px 10% 30px;
}
.formatTitle{
	color:#37b8eb;
	font-size: 45px;
	margin:0 0 20px;
}
#missionPic{
width:600px;
}
#careerPic{
width:400px;
}
#firstLast{
margin: 0 100px 40px 0;
}
#aboutPic{
width:150px;
height:150px;
}
#aboutStaff{
display:inherit;
flex-direction:row;
flex:1;
}